.footer h2 {
  color: var(--orange);
  font-size: 24px;
}

.footer label {
  color: var(--light);
  font-size: 16px;
}

.footer ul {
  list-style-type: none;
  margin: 10px;
  border-radius: calc(var(--borderRadius) / 2);
  display: flex;
  flex-wrap: wrap;
}

.footer ul li {
  flex: 1 1 25%;
  padding: 5px;
}
