.contact h2 {
  color: var(--orange);
  text-transform: capitalize;
  margin-bottom: 10px;
}

.contact {
  padding: 20px 0;
}

.contact ul {
  list-style-type: none;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.contact ul li {
  border-radius: calc(var(--borderRadius) / 2);
}

.contact ul li a {
  border-radius: calc(var(--borderRadius) / 2);
  text-decoration: none;
  background: var(--light);
  color: var(--dark);
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 20px;
  padding: 5px 10px;
}

.contact ul li a:hover {
  background: var(--darker);
  color: var(--lighter);
  transform: scale(1.05);
}
